.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2B35;
    padding-left: 112px;
    padding-right: 100px;
}

.header a {
    text-decoration: none;
    color: white;
    margin-right: 32px;
}

.header a:hover {
    color: orange;
}

.user-name {
    display: inline-block;
    color: white;
    background-color: rgb(8, 126, 126);
    padding: 5px 10px;
    margin-left: 20px;
}