.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2B35;
    padding-left: 112px;
    padding-right: 100px;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

.header a:hover {
    color: orange;
}

.user-name {
    color: white;
}