.form-container {
    width: 500px;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 50px auto;
    padding-left: 40px;
}

.form-title {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;

    color: #2A414F;
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 30px;
}

.form-control label {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 10px;
}

.form-control input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
}

.btn-submit {
    width: 430px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A
}

.btn-submit:hover {
    background: rgba(255, 153, 0, 0.5);
}

.create-new-account-text {
    text-align: center;
}

.create-new-account-link {
    color: #FF9900;
}